<html>
  <head>
    <title>File Upload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
  </head>
  <body>
    <h1>File to Compress Upload</h1>
    <form action="{{ url_for('upload_files') }}" class="dropzone" >
        Slider for quality of compression.
        <br>(set quality before file drop)
        <input id="slider" name="slider" type="range" value=1>
        <label for="slider">1</label>
    </form>
   <th> {{filename}} </th>
   <a href="/pics">Gallery</a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
  <script src="../static/js.js"></script>
  <script src="../static/style.css"></script>

  </body>
</html>